@import 'mixins/typography';

.button {
  cursor: pointer;

  padding: 20px 40px;

  border: 1px solid;
  border-radius: 4px;

  will-change: background-color, border-color;
  transition:
    background-color var(--hover-transition),
    border-color var(--hover-transition);

  @include heading-5();

  &_default {
    background-color: var(--light-gray);
    border-color: var(--light-gray);

    &:hover {
      background-color: var(--white);
      border-color: var(--mid-gray);
    }
  }

  &_primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--white);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }
}
