.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--mobile-navigation-bg-layer);

  width: 100%;
  height: 100vh;
  pointer-events: none;

  $state-transition: ease-in-out 400ms;

  $self: &;

  &_open {
    pointer-events: all;

    #{$self}__background {
      opacity: 1;
    }

    #{$self}__inner {
      translate: 0;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    will-change: opacity;
    transition: opacity $state-transition;

    width: 100%;
    height: 100%;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;

    translate: 100%;
    will-change: translate;
    transition: translate $state-transition;

    width: min(100%, 375px);
    height: 100%;
    overflow: hidden;

    background-color: var(--white);
  }
}
