@import 'mixins/base';
@import 'mixins/typography';

.how-it-works-section {
  padding-top: 80px;

  &__heading {
    @include heading-2;
    text-align: center;

    padding-bottom: 42px;
  }

  &__steps {
    @include flex($gap: 32px, $wrap: wrap);
  }
}
