@import 'mixins/base';
@import 'mixins/typography';

.faq-section {
  padding: 80px 0;

  &__heading {
    @include heading-2;
    text-align: center;
  }

  .accordion {
    width: 1008px;
    margin: 0 auto;

    padding-top: 40px;
  }
}
