@import 'mixins/base';
@import 'mixins/typography';

.header {
  width: 100%;
  height: 80px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--header-layer);

  @include flex($justify-content: space-around);

  &__links {
    list-style: none;
    @include flex($gap: 24px);
  }

  &__link {
    color: var(--white);

    @include font-16;
  }
}
