@import 'variables';
@import 'mixins/base';

.header {
  width: 100%;
  height: 80px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--header-layer);

  @include flex($justify-content: space-around);

  @media (max-width: $tablet-width) {
    justify-content: space-between;
    padding-left: 20px;
  }

  &__links {
    list-style: none;
    @include flex($gap: 24px);
  }

  &__link {
    display: inline-block;
    position: relative;
    overflow-x: hidden;

    color: var(--white);
    @include font-16;

    &::before {
      content: '';
      width: 100%;
      height: 1px;

      background-color: var(--white);

      position: absolute;
      left: 0;
      bottom: 2px;

      transition: translate var(--hover-transition);
      translate: -100%;
    }

    &:hover::before {
      translate: 0;
    }
  }
}
