@import 'mixins/typography';

.reviews-section {
  background-color: var(--extralight-gray);
  width: 100%;
  padding: 57px 0 45px;

  &__heading {
    @include heading-2;
    text-align: center;

    padding-bottom: 12px;
  }

  .slider {
    width: 1215px;
  }
}
