@import 'mixins/base';

.reviews-section {
  background-color: var(--extralight-gray);
  width: 100%;

  @include section($padding: 56px 0 44px);

  .slider {
    padding-top: 12px;
    width: 1215px;
  }
}
