:root {
  --black: #191c1f;
  --dark-gray: #5e646a;
  --gray: #83898f;
  --mid-gray: #c2c8cd;
  --light-gray: #eceff2;
  --extralight-gray: #f6f8fa;
  --white: #ffffff;
  --color-dangerous: #f13636;
  --color-success: #25cd82;
  --color-primary: #2a6cea;
  --color-primary-hover: #397dff;
  --color-primary-disabled: #abcae6;
}
